@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: #1F2937;
  font-size: 16px;    
  margin-bottom: 10px;
}

.recipes-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

h1 {
  text-align: center;
}

  img {
    height: 400px;
    border-radius: 5%;
    width: min(400px, 100%);
  }

  ul {
    list-style-type: none;
    text-align: center;
  }  

  .recipes-container a {
    text-decoration: none;
    color: rgb(109, 4, 26);
  }

  ul.images {
    display: flex;
    justify-content: center;
  }