@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

  img {
    height: auto;
    border-radius: 5%;
    margin: 10px auto;
    display: block;
    width: min(400px, 100%);
  }
  